.filters {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;

  .filter-btn {
    font-family: $font-1;
    letter-spacing: $spacing;
    text-transform: uppercase;
    font-size: 0.75rem;
    background: transparent;
    border: 1px solid $color-4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: $radius;
    padding: 0.4em;
    cursor: pointer;
    transition: $transition;
    margin: 2px;
  }

  .filter-btn:hover {
    color: white;
    background-color: $color-4;
  }
}

@media screen and (min-width: 800px) { 
  .filters {
    .filter-btn {
      font-size: 0.8rem;
      padding: 0.6rem 0.7rem;
      margin: 5px;
    }
  }
}