footer {
  background-color: $color-4;
  color: $color-1;
  font-family: $font-1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
  }
  p {
    font-size: 0.8rem;
    max-width: 250px;
  }
  ul {
    display: flex;
  }
  li,
  a {
    color: $color-1;
    transition: $transition;
  }
  li {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }
  li:last-child {
    margin-right: 0.2rem;
  }
  a:hover {
    color: $color-2;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: 0.75rem 3.1rem;
    p {
      font-size: 1rem;
      max-width: 300px;
    }
    li {
      margin-right: 0.7rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    .container {
      max-width: 1300px;
      margin: 0 auto;
      padding: 1rem 0;
    }
    p {
      max-width: 100%;
    }
    li {
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  footer {
    .container {
      max-width: 1600px;
    }
  }
}
