.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin: 0 auto;
  padding: 0 1rem 2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img:hover {
    opacity: 0.8;
    scale: 0.5;
  }
}

@media screen and (min-width: 1080px) {
  .gallery {
    padding: 0 2.5rem 3rem;
    max-width: 1675px;
    img {
      height: 500px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    img {
      height: 650px;
    }
  }
}
