.login,
.connected {
  height: 94vh;
  text-align: center;
  display: grid;
  padding-top: 30%;
  background-color: $color-1;

  h2 {
    margin-bottom: 1.5rem;

    i {
      margin-top: 1rem;
    }
  }

  button {
    @include button;
  }
}

.login {
  button {
    width: 250px;
    color: $color-1;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: $color-4;
  }

  button:hover {
    color: $color-4;
    background-color: transparent;
    border: 1px solid $color-4;
  }
}

.connected {
  p {
    margin-bottom: 2rem;
    color: $color-4;
  }
  p:hover {
    font-weight: 600;
  }
  button {
    width: 150px;
    color: $color-1;
    font-size: 1rem;
    padding: 0.75rem;
    background-color: $color-4;
  }

  button:hover {
    color: $color-2;
  }
}

@media screen and (min-width: 1024px) {
  .login,
.connected {
  padding-top: 10%;
}
}
