.music {
  height: auto;
  min-height: 100vh;
  margin: 2rem auto;
  padding: 0 1rem;

  .track {
    text-align: center;
    font-family: $font-1;
    margin-bottom: 1.5rem;

    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }

  .track img {
    max-width: 100%;
  }

  .track img:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .music {
    width: 90%;
    margin: 1.75rem auto;
    max-width: 1300px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: repeat(auto-fill, 340px);
    gap: 1rem 1.5rem;

    .track {
      width: 280px;
    }

    .track img {
      height: 280px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .music {
    width: 90%;
    max-width: 1300px;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-template-rows: repeat(auto-fill, 370px);
    gap: 2.5rem 1.5rem;

    .track {
      width: 330px;
    }

    .track img {
      height: 330px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .music {
    max-width: 1800px;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-template-rows: repeat(auto-fill, 450px);
    gap: 1.5rem 1.5rem;

    .track {
      width: 380px;
    }

    .track img {
      height: 380px;
    }
  }
}
