.single {
  margin: 0 auto;
  padding: 6rem 1rem 3rem;
  font-family: $font-1;
  height: auto;

  .container {
    text-align: center;

    img {
      width: 320px;
      height: 320px;
    }

    img:hover {
      opacity: 0.9;
      border: 3px solid $color-4;
    }

    .details {
      width: 90%;
      margin: 0 auto;

      p {
        margin-bottom: 0.25rem;
        font-weight: 800;
        font-size: 1rem;
      }
      .artist,
      .comment {
        margin-top: 1.5rem;
      }
      .comment {
        max-width: 100%;
        font-style: italic;
        line-height: 1.5rem;
      }
      span,
      .comment {
        font-weight: 500;
      }
    }
  }

  iframe {
    margin-top: 2rem;
    display: block;
  }

  .back p {
    color: $color-4;
    text-align: center;
    margin-top: 2rem;
  }
  .back p:hover {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .single {
    padding: 7rem 1.5rem 3rem;
    .container {
      img {
        width: 600px;
        height: 600px;
      }
      .details p {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .single {
    padding: 7rem 2.5rem 4rem;
    margin: 0 auto;

    .container {
      display: flex;
      text-align: left;

      img {
        width: 400px;
        height: 400px;
        margin-right: 2rem;
      }

      .details {
        p {
          font-size: 1.4rem;
        }

        .comment {
          max-width: 90%;
          line-height: 1.7rem;
        }

        .artist,
        .comment {
          margin-top: 3rem;
        }
      }
    }
    iframe {
      margin-top: 2rem;
      height: 400px;
    }
    .back p {
      margin-top: 3rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .single {
    max-width: 1700px;
    padding: 7rem 3rem 3rem;

    .container img {
        width: 500px;
        height: 500px;
    }

    iframe {
      margin-top: 2rem;
      height: 600px;
    }
    .back p {
      margin-top: 2.5rem;
    }
  }
}
